/*

	Stylesheet that picks up defaults for basic roads and buildings, then
	shows nodes and ways for sustainable feature mapping

	Tom Chance, 2010

*/

/* A set of fairly standard rules.
  We use z-index to make sure high-priority roads appear above minor ones.
  The default z-index is 5. If an object matches multiple rules with the same
  z-index then the rules are "merged" (but individual properties become one or the other)  */



/* Energy generators */
node[power=generator] { icon-image: /feature_icons/power_default.png; z-index: 20; }
node[generator:source=solar] { icon-image: /feature_icons/power_solar.png; z-index: 20; }
node[generator:source=wind] { icon-image: /feature_icons/power_wind.png; z-index: 20; }
node[generator:source=biomass], node[generator:source=biogas], node[generator:source=biofuel] { icon-image: /feature_icons/power_biomass.png; z-index: 20; }
node[generator:source=geothermal] { icon-image: /feature_icons/power_geothermal.png; z-index: 20; }
node[generator:source=hydro] { icon-image: /feature_icons/power_hydro.png; z-index: 20; }
node[generator:source=sea] { icon-image: /feature_icons/power_sea.png; z-index: 20; }
node[generator:source=waste] { icon-image: /feature_icons/power_waste.png; z-index: 20; }

/* Waste and recycling */
node[amenity=recycling] { icon-image: /feature_icons/waste_recycle.png; z-index: 20; }
node[amenity=waste_transfer_station] { icon-image: /feature_icons/waste_recycle.png; z-index: 20; }
way[amenity=waste_transfer_station] :area { z-index: 10; fill-color: #6517d9; fill-opacity: 0.2; set .area_small_name; }

/* Food */
way[landuse=allotments] { z-index: 10; color: #3b1e03; width: 1.5; fill-color: #824107; fill-opacity: 0.2; set .area_small_name; }
way[amenity=marketplace], way[shop=bakery], way[shop=butcher], way[shop=farm], way[shop=greengrocer], way[shop=seafood] { z-index: 10; color: #005140; width: 1.5; fill-color: #005140; fill-opacity: 0.3; set .area_small_name; }
node[amenity=marketplace] { icon-image: /feature_icons/food_market.png; z-index: 20; }
node[shop=bakery] { icon-image: /feature_icons/food_bakery.png; z-index: 20; }
node[shop=butcher] { icon-image: /feature_icons/food_butcher.png; z-index: 20; }
node[shop=farm] { icon-image: /feature_icons/food_farmers.png; z-index: 20; }
node[shop=greengrocer] { icon-image: /feature_icons/food_greengrocer.png; z-index: 20; }
node[shop=seafood] { icon-image: /feature_icons/food_fishmonger.png; z-index: 20; }
node[diet:vegetarian=yes], node[diet:vegetarian=only] { icon-image: /feature_icons/food_vegetarian.png; z-index: 20; }
node[diet:vegan=yes], node[diet:vegan=only]  { icon-image: /feature_icons/food_vegan.png; z-index: 20; }

/* Transport */
way[railway=station], way[building=railway_station] { z-index: 10; color: #9f0057; width: 1.5; fill-color: #e1007b; fill-opacity: 0.2; set .area_small_name; }
node[railway=station] { z-index: 20; icon-image: /feature_icons/transport_train.png; }
node[network=London Underground] { z-index: 20; icon-image: /feature_icons/transport_tube.png; }
node[railway=tram_stop] { z-index: 20; icon-image: /feature_icons/transport_tram.png; }
node[amenity=car_sharing] { z-index: 20; icon-image: /feature_icons/transport_carsharing.png; }
node[amenity=bicycle_rental] { z-index: 20; icon-image: /feature_icons/transport_cyclehire.png; }

/* Culture */
way[amenity=library], way[amenity=theatre], way[tourism=museum], way[amenity=cinema], way[tourism=gallery] { z-index: 10; color: #005140; width: 1.5; fill-color: #005140; fill-opacity: 0.3; set .area_small_name; }
node[amenity=theatre] { z-index: 20; icon-image: /feature_icons/culture_theatre.png }
node[amenity=cinema] { z-index: 20; icon-image: /feature_icons/culture_cinema.png }
node[amenity=library] { z-index: 20; icon-image: /feature_icons/culture_library.png }
node[tourism=museum] { z-index: 20; icon-image: /feature_icons/culture_museum.png }
node[tourism=gallery] { z-index: 20; icon-image: /feature_icons/culture_gallery.png }

/* Habitats and wildlife */
node[natural=tree] { z-index: 20; icon-image: /feature_icons/nature_tree_16.png; }

/* Generic styles */
way .area_small_name {text-color: black; font-size: 9; text: name; text-halo: #ffffaa; text-halo-radius: 2; text-position: center;}

way .highlighted { color: pink; }
way :hover  { z-index: 2; width: eval('_width+10'); color: #ffff99; }
way :selected { z-index: 2; width: eval('_width+10'); color: yellow; opacity: 0.7;}
way :restrictfrom { z-index: -1; width: eval('_width+10'); color: red; opacity: 0.7;}
way :restrictto { z-index: -1; width: eval('_width+10'); color: blue; opacity: 0.7;}
way :tiger { casing-color: #ff00ff;}
way !:drawn { z-index:10; width: 0.1; color: #999999; }

node :hover { z-index: 9; icon-image: square; icon-width: 7; color: blue; }
node :hasTags :selectedway { z-index: 9; icon-image: square; icon-width: 8; color: black; }
node !:drawn :selectedway { z-index: 9; icon-image: square; icon-width: 8; color: red; casing-color: #cc0000; casing-width: 1;}
node :selected { z-index: 1; icon-image: square; icon-width: eval('_width+10'); color: yellow; interactive: no; }
node :junction :selectedway { z-index: 8; icon-image: square; icon-width: 12; casing-color: black; casing-width: 1; }
node !:drawn :poi { z-index:11; icon-image: circle; icon-width: 3; color: #999999; }
